.registerButton {
    background-color: green;
    color: white;
    width: 350px;
}

.button2 {
    width: 350px;
}

.image {
    width: 350px;
    object-fit: cover;
}

.anchor {
    color: rgb(3, 172, 3);
}

/*Desktop*/
@media (min-width: 1024px) {
    .image {
        width: 650px;
    }
}
